header {
   background: #b4b3b3;
   padding: 20px 0; 
}
.caixa {
   position: relative;
   width: 940px;
   margin: 0  auto;
}
nav {
   position: absolute;
   top: 110px;
   right: 0;
}
nav li{
   display: inline;
   margin: 0 0 0 15px;
}
nav a {
   text-transform: uppercase;
   color: #000000;
   font-weight: bold;
   font-size: 22px;
   text-decoration: none;

}
.produtos {
   width: 940px;
   margin: 0  auto;
   padding: 50px 0; 

}
.produtos li {
   display: inline-block;
   text-align: center;
   width: 30%;
   vertical-align: top;
   margin: 0 1.50%; /*espaçamento entre as imagens*/
   padding: 30px 20px;/*espaçamento interno*/
   box-sizing: border-box;/*espaçamento lateral esteja dentro do percentual do width*/
   border: 2px solid #000000; /*essas 3 declarações definem a borda... borda, tipo e cor*/
   border-radius: 10px; /*essas 3 declarações definem a bordas arredondadas, posso ainda colocar cada conto com um valor*/
}
.produtos h2 {
   font-size: 30px;
   font-weight: bold;
   margin: 10px;
}
.produto-preco {
   font-size: 22px;
   font-weight: bold;
   margin-top: 10px;
}
.descricao-servico {
   font-size: 18px;
   
}