   .titulo-principal {
        padding-left: 100px;
        text-align: center;
        color:beige;
    }

  
    #banner {
    width: 106%;
    }
    .principal {
        background: #ccccbb;
        padding:1%;
        width: 100%;
        
    }
    .principal{
        text-align: center;    
    }
  
    p {
        text-align: center;
       
    }
   
    #missao {
        font-size: 20px

    }
 
    em strong {
        color: red;  
    }

    .itens {
        font-style: italic;
        margin-left: 20%;
    }

    .benefícios {
    background-color: #ffffff;
    padding: 20px;
    }

    ul {
        display: inline-block;
        vertical-align: top;
        width:75%;
        margin-right: 15%;
        text-align: center;
    }


 