header {
   background: url("bg.jpg");
   padding: 20px 0; 
}
.caixa {
   position: relative;
   width: 940px;
   margin: 0  auto;
}
nav {
   position: absolute;
   top: 110px;
   right: 0;
}
nav li{
   display: inline;
   margin: 0 0 0 15px;
}
nav a {
   text-transform: uppercase;
   color: #a3a0a0;
   font-weight: bold;
   font-size: 22px;
   text-decoration: none;

}

nav a:hover {
color: #31f30a;
text-decoration: underline;
}

.produtos {
   width: 940px;
   margin: 0  auto;
   padding: 50px 0; 

}
.produtos li {
   display: inline-block;
   text-align: center;
   width: 30%;
   vertical-align: top;
   margin: 0 1.50%; /*espaçamento entre as imagens*/
   padding: 30px 20px;/*espaçamento interno*/
   box-sizing: border-box;/*espaçamento lateral esteja dentro do percentual do width*/
   border: 2px solid #000000; /*essas 3 declarações definem a borda... borda, tipo e cor*/
   border-radius: 10px; /*essas 3 declarações definem a bordas arredondadas, posso ainda colocar cada conto com um valor*/
}
.produtos li:hover {
   font-size: 40px;
   border-color: #31f30a; 
}

.produtos li:active {
border-color: #eb06b9;
}

.produtos li:hover h2 {
   font-size: 32px;
}
.produtos h2 {
   font-size: 20px;
   font-weight: bold;
   margin: 10px;
}
.produto-preco {
   font-size: 22px;
   font-weight: bold;
   margin-top: 10px;
}
.descricao-servico {
   font-size: 18px;  
}

footer {
   text-align: center;
   background: url("bg.jpg");
   padding: 20px 0 ;
}

.copyright {
   color: white;/*cor de texto*/
   font-size: 13px;
   margin: 20px 0 0 ;
}
main {
  width: 940px;/*largura total da tela*/
   margin: 0 auto;
}
form {
   margin: 40px 0;
}
form label, legend {
   display: block;/*quebra linha*/
   font-size: 20px; /*tamanho de fonte*/
   margin: 0 0 10px; /*margem para baixo*/
}
.input-padrao { /*posso separar classes por virgula e deixar tudo na mesma configuração*/
   display: block;
   margin: 0 0 20px;
   padding: 7px 13px;/*espaçamento interno de um quadrado*/
   width: 50%;/*largura do campo de digitação*/
}
.checkbox {
   margin: 20px 0 ;
}
.enviar {
   width: 40%;/*aumentar largura*/
   padding: 15px 0;/*aumentar espaçamento interno*/
   background: #31f30a;/*cor do botao*/
   font-weight: bold;/*fonte com peso*/
   font-size: 18px;/*tamanho do texto*/
   border: none; /*sem bordas padrão*/
   border-radius: 5px; /*bordas arredondadas*/
   transition: 2s all;
   cursor: pointer; /*--muda a seta para a maozinha*/
}
.enviar:hover {
   background: #eb06b9; /*faz transiçao de cor juntamente com a declaraçao transition: 3s background;*/
   transform: scale(1.2);/*aumente o botao automaticamente*/
   /*transform: rotate(180deg);/*faz uma rotação*/
}
table {
   margin: 20px 0 40px;
}
thead {
   background-color: #31f30a;
   color: #000000;
   font-weight: bold;
}
td, th {
   border: 1px solid #000000;
   padding: 3px 10px;
   width: 165px;
   text-align: center;

}
